.pre-button {
    background-color: #6c00ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 85px;
    margin-top:15px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #37268E;
   
  }
  

  .pre-button:hover {
    background: linear-gradient(135deg, #ff00ff, #6c00ff);
    color: white;
    box-shadow: 0px 0px 15px #5B3DA8;
  }

  .pre-button:active {
    background-color: #37268E;
    box-shadow: none;
  }
