#inp {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: white;
  padding: 10px;
  color: grey;
  box-shadow: 0 0 10px #6c00ff;
}

#inp:focus {
  outline: none;
  background-color: white;
  color: black;
}

.nav-item:hover {
  transform: scale(1.1);
}

.neon-button {
  background-color: #6c00ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #37268e;
  margin-left: 610px;
}

.neon-button:hover {
  background: linear-gradient(135deg, #ff00ff, #6c00ff);
  color: white;
  box-shadow: 0px 0px 15px #5b3da8;
}

.neon-button:active {
  background-color: #37268e;
  box-shadow: none;
}

#notItem:hover {
  animation: shake 0.8s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.notftable {
  display: none;
  z-index: 99999;
  font-size: 12px;
  position: absolute;
  left: 28vw;
  top: 38vh;
  background-color: #f5e8ff;
  width: 300px;
  height: max-content;
  border: 2px solid #d98cff;
  border-radius: 5px;
  box-shadow: 0 0 2px #d98cff, 0 0 2px #d98cff, 0 0 3px #d98cff, 0 0 4px #d98cff,
    0 0 5px #d98cff, 0 0 6px #d98cff, 0 0 7px #d98cff;
}

.friendstable{
  display: none;
  z-index: 99999;
  font-size: 12px;
  position: absolute;
  left: 48vw;
  top: 38vh;
  background-color: #f5e8ff;
  width: 300px;
  height: max-content;
  border: 2px solid #d98cff;
  border-radius: 5px;
  box-shadow: 0 0 2px #d98cff, 0 0 2px #d98cff, 0 0 3px #d98cff, 0 0 4px #d98cff,
    0 0 5px #d98cff, 0 0 6px #d98cff, 0 0 7px #d98cff;
}

.notftable ul, 
.friendstable ul
{
  padding: 10px;
  list-style: none;
}
.notftable li,
.friendstable li
{
  padding-right: 0px;
  margin-right: 0;
}

.notftable li a,
.friendstable li a
 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

h1 {
  border-bottom: 2px solid #d98cff;
  box-shadow: 2px #d98cff;
}

.notftable li a:hover,
.friendstable li a:hover
 {
  color: #9966ff;
}

.notDiv, .friendDiv {
  position: relative;
}

.notNumber {
  position: absolute;
  top: 0px;
  left: 50px;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  background-color: #9966ff;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 10px;
}
.profDiv {
  display: flex;
}

.user-description {
  margin-left: 5px;
  margin-right: 20px;
}
.accept-button {
  margin-top: 10px;
  margin-right: 2px;
  background-color: #6c00ff;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #37268e;
}
.decline-button{
  margin-top: 10px;
  margin-right: 2px;
  background-color: #6c00ff;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #37268e;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Yuvarlak köşeler */
}

h4 {
  text-align: center;
  color: #9966ff;
}


.friendstable:hover .frmain,
.friendstable.show .frmain {
  display: block;
}


